$SCREEN {
	background-color: #505151;
	color: white;
	padding-top: 20px;
}

$SCREEN h1 {
	font-family: $BOLD;
	text-align: center;
	font-size: 100px;
	margin: 30px 100px;
	color: #CCEEF8;
}

$SCREEN p {
	text-align: center;
	margin: 50px 100px;
	font-size: 40px;
}

$SCREEN .signContainer {
	margin-left: auto;
	margin-right: auto;
	
	width: 1600px;
}

$SCREEN .signArea {
	width: 1592px;
	height: 792px;
	border: 4px solid black;
	border-radius: 4px;
	
	margin-bottom: 20px;
	
	background-color: white;
}

$SCREEN .signOK, $SCREEN .signClear {
	float: left;
	padding: 20px;
	text-align: center;
	font-family: $BOLD;
	font-size: 48px;
}

$SCREEN .signOK {
	background-color: red;
	margin-right: 20px;
	color: white;
	border: 4px solid #90DE68;
	background-color: #74C93E;
	border-radius: 4px;
	
	width: 952px;
}

$SCREEN .signClear {
	color: white;
	width: 532px;
	background-color: #D95B1F;
	text-align: center;
	border: 4px solid #F1793F;
	border-radius: 4px;
}