$SCREEN .searchBar {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	
	height: 84px;
	
	padding: 16px;
	
	background-color: #225378;
}

$SCREEN .studentList {
	position: absolute;
	left: 0px;
	width: 1250px;
	top: 116px;
	bottom: 64px;
	
	background-color: #F3FFE2;
}

$SCREEN .studentName {
	font-family: $BOLD;
	font-size: 64px;
	color: white;
	margin: 0px;
}

$SCREEN .sigPreview {
	width: 738px;
	height: 460px;
	background-image: url("$ASSETS/test-sig.png");
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 20px;
}

$SCREEN .notSigned .sigPreview {
	background-image: url("$ASSETS/not-collected.png") !important;
}

$SCREEN .stats {
	margin: 0px;
	font-size: 34px;
	color: white;
}

$SCREEN .studentList .students li {
	padding: 16px;
	border-bottom: solid 2px #225378;
	font-family: $NORMAL;
	font-size: 44px;
}

$SCREEN .studentList .students li.selected {
	color: white;
	background-color: #1695A3;
}

$SCREEN .studentInfoPanel {
	position: absolute;
	left: 1250px;
	right: 0px;
	top: 116px;
	bottom: 64px;
	
	padding: 20px;
	
	border-left: solid 10px #225378;
	
	background-color: #1695A3;
}

$SCREEN .studentInfoPanel .noneSelected {
	text-align: center;
	margin-top: 500px;
	margin-left: 140px;
	margin-right: 140px;
	
	font-family: $BOLD;
	font-size: 32px;
	color: white;
}

$SCREEN .statusBar {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 32px;
	padding: 16px;
	
	background-color: #225378;
	
	font-family: $BOLD;
	font-size: 32px;
	text-align: center;
	color: white;
}

$SCREEN .statusBar .logout {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 250px;
	height: 32px;
	padding: 16px;
	
	background-color: #1695A3;
	
	font-family: $BOLD;
	font-size: 32px;
}

$SCREEN .notSigned .voidPickup {
	display: none;
}

$SCREEN .voidPickup {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #225378;
	text-align: center;
	
	width: 738px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	
	color: white;
	font-size: 44px;
	font-family: $BOLD;
}

$SCREEN .notSigned .pickup {
	display: block !important;
}

$SCREEN .pickup {
	display: none;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: lime;
	text-align: center;
	
	width: 738px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	
	color: white;
	font-size: 80px;
	font-family: $BOLD;
}