$SCREEN .searchBar {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	
	height: 92px;
	
	padding: 16px;
	
	background-color: #333333;
}

$SCREEN .studentList {
	position: absolute;
	left: 0px;
	width: 1250px;
	top: 124px;
	bottom: 64px;
	
	background-color: white;
}

$SCREEN .whenSelected {
	display: none;
}

$SCREEN .studentName {
	font-family: $BOLD;
	font-size: 64px;
	color: white;
	margin: 0px;
}

$SCREEN .sigPreview {
	width: 738px;
	height: 460px;
	background-image: url("$ASSETS/test-sig.png");
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 20px;
}

$SCREEN .notSigned .sigPreview {
	background-image: url("$ASSETS/not-collected.png") !important;
}

$SCREEN .stats {
	margin: 0px;
	font-size: 34px;
	color: white;
}

$SCREEN .studentList .students li {
	padding: 16px;
	border-bottom: solid 2px #929292;
	font-family: $NORMAL;
	font-size: 44px;
}

$SCREEN .studentList .students li.selected {
	color: white;
	background-color: #00BFF3;
}

$SCREEN .studentInfoPanel {
	position: absolute;
	left: 1250px;
	right: 0px;
	top: 124px;
	bottom: 64px;
	
	padding: 20px;
	
	border-left: solid 10px white;
	
	background-color: #505151;
}

$SCREEN .studentInfoPanel .noneSelected {
	text-align: center;
	margin-top: 500px;
	margin-left: 140px;
	margin-right: 140px;
	
	font-family: $BOLD;
	font-size: 32px;
	color: white;
}

$SCREEN .statusBar {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 34px;
	padding: 16px;
	
	background-color: #333333;
	
	font-family: $BOLD;
	font-size: 32px;
	text-align: center;
	color: white;
}

$SCREEN .statusBar .logout {
	position: absolute;
	bottom: 0px;
	right: 16px;
	width: 250px;
	height: 34px;
	padding: 16px;
	border-left: 4px solid #787878;
	border-right: 4px solid #787878;
	background-color: #646464;
	
	font-family: $BOLD;
	font-size: 32px;
}

$SCREEN .notSigned .voidPickup {
	display: none;
}

$SCREEN .voidPickup {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #D95B1F;
	text-align: center;
	border: 4px solid #F1793F;
	border-radius: 4px;
	
	width: 730px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	
	color: white;
	font-size: 44px;
	font-family: $BOLD;
}

$SCREEN .notSigned .pickup {
	display: block !important;
}

$SCREEN .pickup {
	display: none;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #74C93E;
	text-align: center;
	border: 4px solid #90DE68;
	border-radius: 4px;
	
	width: 730px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	
	color: white;
	font-size: 80px;
	font-family: $BOLD;
}