.searchBar {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	
	height: 86px;
	
	padding: 16px;
	
	background-color: #225378;
}

.studentList {
	position: absolute;
	left: 0px;
	width: 1250px;
	top: 118px;
	bottom: 64px;
	
	background-color: #F3FFE2;
}

.studentList .students li {
	padding: 16px;
	border-bottom: solid 2px #225378;
	font-family: $NORMAL;
	font-size: 44px;
}

.studentInfoPanel {
	position: absolute;
	left: 1250px;
	right: 0px;
	top: 118px;
	bottom: 64px;
	
	border-left: solid 10px #225378;
	
	background-color: #1695A3;
}

.statusBar {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 32px;
	padding: 16px;
	
	background-color: #225378;
	
	font-family: $BOLD;
	font-size: 32px;
	text-align: center;
	color: white;
}

.statusBar .logout {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 250px;
	height: 32px;
	padding: 16px;
	
	background-color: #1695A3;
	
	font-family: $BOLD;
	font-size: 32px;
}